.copyBoard {
  width: fit-content;
  margin: 0 auto;
}

.joinLink {
  font-size: 14px;
  margin-bottom: 3px;
  color: #3c3c3c;
}

.copyLink {
  padding: 30px 50px;
  font-size: 20px;
  background-color: #fbfbfb;
  text-align: center;
}
